<div>
  <h1>
    <%= session[:username] %>
  </h1>
  <% @repos.each do |repo| %>
    <%= repo["name"] %>
    <br></br>
  <% end %>
  <%= form_tag("/repositories/create", method: "post") do %>
    New Repo:
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
